.loginform {
  background-color: white;
  padding: 10px;
  margin-top: 50%;
  border-radius: 5px;
}
.loginform-group {
  text-align: center;
  margin: 10px;
}
.login-title {
  text-align: center;
  font-weight: bold;
  margin: 10px;
}
.loginform-headline {
  text-align: center;
  margin: 10px;
}
.loginform-button {
  width: 100%;
}
