.wishform {
  background-color: white;
  padding: 20px;
  margin-top: 50%;
  border-radius: 5px;
}
.wishform-group {
  margin: 20px;
  text-align: center;
}
.wishform-title {
  text-align: center;
  font-weight: bold;
}
.wishform-headline {
  text-align: center;
}
.wishform-button {
  width: 100%;
}