.dashboard-nav {
  display: flex;
  justify-content: center;
}
.dashboard-col {
  height: 100%;
  margin: auto;
  background-color: rgb(39, 39, 39);
}
.dashboard-row {
  height: 100%;
}
.dashboard-row_members {
  margin-top: 50px;
}
.dashboard-row_members_profil-pictures {
  height: 150px;
  width: 150px;
}
.dashboard-row_members_profil-col {
  display: flex;
  justify-content: center;
}
